.Pagination {
    margin: 8px 0;
    text-align: center;
}

.Pagination-item {
    display: inline-block;
    margin: 0 8px;
    padding: 4px 8px;
}

.Pagination-item-isSelected {
    font-weight: bold;
    text-decoration: underline;
}

.Pagination-item-isClickable:hover {
    background-color: #eee;
    cursor: pointer;
}