.Pokemon {
    margin: 8px;
}

.Pokemon-name {
    border-bottom: 1px solid #d3d3d3;
}

.Pokemon-id {
    color: #999;
    font-size: 90%;
}

.Pokemon-details {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
}

.Pokemon-info {
    padding-right: 8px;
}

.Pokemon-image {
    background-color: #eee;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
}

.Pokemon-abilities {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Pokemon-ability {
    background-color: #9bcc50;
    border-radius: 3px;
    display: inline-block;
    padding: 4px 8px;
    margin: 0 8px 8px 0;
}

.Pokemon-moves {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Pokemon-move {
    background-color: #fd7d24;
    border-radius: 3px;
    display: inline-block;
    padding: 4px 8px;
    margin: 0 8px 8px 0;
}

.Pokemon-stats {
    border-collapse: collapse;
    width: 100%;
}

.Pokemon-stats td, .Pokemon-stats th {
    padding: 4px 8px;
}

.Pokemon-stats th {
    border-bottom: 1px solid #d3d3d3;
    text-align: left;
}

.Pokemon-stats tbody tr:nth-child(even) {
    background-color: #eee;
}